// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:        #007bff !default;
$indigo:      #6610f2 !default;
$purple:      #6f42c1 !default;
$pink:        #e83e8c !default;
$red:         #dc3545 !default;
$orange:      #fd7e14 !default;
$yellow:      #ffc107 !default;
$green:       #0d4920 !default;
$teal:    	  #058d49 !default;
$cyan:    	  #17a2b8 !default;
$salmao:  	  #ffc0b6  !default;
$salmao-dark: #e79b8f !default;
$whitesmoke:  #f0f0f0 !default;

//green_dafault
//$green:   #1CA347 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":         $blue,
    "indigo":       $indigo,
    "purple":       $purple,
    "pink":         $pink,
    "red":          $red,
    "orange":       $orange,
    "yellow":       $yellow,
    "green":        $green,
    "teal":         $teal,
    "cyan":         $cyan,
    "white":        $white,
    "gray":         $gray-600,
    "gray-dark":    $gray-800,
    "salmao":       $salmao,
	  "salmao-dark":  $salmao-dark,
	  "whitesmoke":   $whitesmoke
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $teal !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$salmao:        $salmao !default;
$salmao-dark:   $salmao-dark !default;
$whitesmoke:    $whitesmoke !default;
$teal:          $teal !default;
$red:           $red !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":      $primary,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "light":        $light,
    "dark":         $dark,
    "salmao":       $salmao,
	  "salmao-dark":  $salmao-dark,
	  "whitesmoke":   $whitesmoke,
    "teal":         $teal,
    "red":          $red
  ),
  $theme-colors
);

@import '../../node_modules/bootstrap/scss/bootstrap';

body{
    font-family : 'Tahoma', sans-serif;
}

// BOOTSTRAP COMPONENTS
.colu {
width: 20%;

}
.col-prod {
margin-right: 50px;
margin-right: 0px;
}
.text-h1{
margin-right: 50px;
}

.navbar-brand img{
	width: 300px;
	margin: -40px auto -15px 200px;
	//margin-left: 20%;
}

.search-navbar, .input-group, .form-outline{
	margin-left: auto;
	width: 85%;
}

.search-navbar, .input-group, .form-outline input{
	height: 45px;
}

.icons-user-cart{
	//margin: 0 auto 0 60px;
	margin: 0 auto 0 60px;
}

.icons-user-cart p{
	color: rgb(0, 0, 0);
	font-size: 14px;
}

.nav-tabs{
    width: 50%;
}

.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}

// BANNER
.banner-img{
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 0;

  width: 100%;
  height: 420px;
}

// OFFS
.col-md-4, .mb-3, .card, img{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.offs-label{
  color: rgb(121, 121, 121);
}

.offs-container{
  margin-top: 50px;
}

.offs-img-size{
  width: 200px;
  height: 270px;
}

.offs-card-size{
  height: 350px;
}

.offs-text-name{
  text-align: center; 
  color: chocolate;
  font-size: 16px;
}

.offs-text-value{
  text-align: center; 
  color: darkgreen;
  font-size: 20px;
}

.offs-btn-submit{
  background-color: #ffc0b6;
}

// MY ACCOUNT

.my-account-lab h3{
  margin-top: 50px;
  margin-left: 50px;
  color: rgb(121, 121, 121);
  font-size: 40px;
}

.my-account-display{
  margin-top: 50px;

  margin-left: 10%;
  margin-right: 10%;
}

.my-account-btn{
  width: 100%;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

// MY ADRESS

.my-adress-display{
  margin-top: 50px;

  margin-left: 10%;
  margin-right: 10%;
}

.my-adress-txt{
  margin-top: 10px;
  margin-right: 50px;
}

.create-edit-adress-display{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  width: 40%;

  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.my-adress-field{
	width: 100%;
	display: inline-block;
	border: thin solid #fafafa;
	border: solid 1px #999;
	color: #444;
	background-color: #fafafa;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.my-adress-field-aling-three-elements{
  width: 32.3%;
}

.my-adress-field-aling-two-elements{
  width: 49%;
}

.create-edit-adress-display h3{
  margin-top: -40px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}


// FOOTER

.footer{
  background-color: #ffc0b6; 
  width: 100%; 

  margin-top: 200px;
}


.adm-nav-font{
  text-align: center;
  margin-top: 40px;

  color: grey;
  font-size: 30px;
}

.adm-preparation-container{
  margin-top: 30px;
}

.adm-preparation-font{
  text-align: center;
  font-size: 25px;
}

.adm-preparation-card{
  //background-color: $salmao;
}

.adm-preparation-card-font-color{
  color: $teal;
}

.adm-preparation-btn{
  margin-top: 20px;
}

.adm-preparation-search-icon{
  float: right;
}

.adm-conf-emb-btn{
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adm-conf-emb-display{
  margin-top: 50px;
  
  margin-left: 25%;
  margin-right: auto;
}

.adm-conf-emb-display-2{
  margin-left: auto;
  margin-right: auto;
}

.adm-conf-emb-span{
  float: right;
}

// OTHERS COMPONENTS

.login-register{
    width: 50%;
    margin-top: 70px;

    //centralizar
    position: absolute;
    
    left: 450px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}

.btnSubmit{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #0d4920;
}

.login-form-1 .ForgetPwd{
    color: #0d4920;
    font-weight: 600;
    text-decoration: none;
}

.text-field {
	position: relative;
	margin: 10px 2.5px 20px 2.5px;
}

.aling-center{
  margin-left: auto;
  margin-right: auto;
}

.txt-color-grey{
  color: rgb(121, 121, 121);
}

input {
	width: 100%;
	display: inline-block;
	border: thin solid #fafafa;
	border: solid 1px #999;
	color: #444;
	background-color: #fafafa;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

input:focus {
	border: thin solid #32cd32;
	border-bottom: solid medium #32cd32;
	background-color:#fff;
}

label {
	color: #999;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 10px;
	transition: 0.2s;
}

input:focus ~ label, input:valid ~ label {
	top: -10px;
	left: 15px;
	font-size: small;
	color: #0d4920;
	background-color:#fff;
	padding:0 5px 0 5px;
}

.container, .category{
	margin-left: auto;
	margin-right: auto;
}




.single {
padding: 30px 15px;
margin-top: auto;
background: #fcfcfc;
border: 1px solid #f0f0f0; }
.single h3.side-title {
//margin: 0;
margin-left: auto;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: #333;
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 250px;
height: 1px;
background: #ff173c;
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: #666;
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid #f0f0f0;
line-height: 50px;
display: block;
text-decoration: none; }
.single li a:hover {
color: #ff173c; }
.single li:last-child a {
border-bottom: 0; }
