// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #0d4920 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$salmao:  #ffc0b6  !default;

//green_dafault
//$green:   #1CA347 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800,
    "salmao":     $salmao
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$salmao:        $salmao !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "salmao":     $salmao
  ),
  $theme-colors
);

@import '../../node_modules/bootstrap/scss/bootstrap';

body{
    font-family : 'Ubuntu', sans-serif;
}

// BOOTSTRAP COMPONENTS

.navbar-brand img{
	width: 300px;
	margin: -40px auto -15px 200px;
	//margin-left: 20%;
}

.container, .search-navbar, .input-group, .form-outline{
	margin-left: auto;
	width: 85%;
}

.container, .search-navbar, .input-group, .form-outline input{
	height: 45px;
}

.container, .icons-user-cart{
	//margin: 0 auto 0 60px;
	margin: 0 auto 0 60px;
}

.container, .icons-user-cart p{
	color: whitesmoke;
	font-size: 14px;
}

.nav-tabs{
    width: 50%;
}

.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}

// OFFS
.col-md-4, .mb-3, .card, img{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

// OTHERS COMPONENTS

.login-register{
    width: 50%;
    margin: 70px 700px;
}

.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}

.btnSubmit{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    margin-top: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #0d4920;
}

.login-form-1 .ForgetPwd{
    color: #0d4920;
    font-weight: 600;
    text-decoration: none;
}

.text-field {
	position: relative;
	margin: 10px 2.5px 20px 2.5px;
}

input {
	width: 100%;
	display: inline-block;
	border: thin solid #fafafa;
	border: solid 1px #999;
	color: #444;
	background-color: #fafafa;
	padding: 10px 10px 10px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

input:focus {
	border: thin solid #32cd32;
	border-bottom: solid medium #32cd32;
	background-color:#fff;
}

label {
	color: #999;
	position: absolute;
	pointer-events: none;
	left: 10px;
	top: 10px;
	transition: 0.2s;
}

input:focus ~ label, input:valid ~ label {
	top: -10px;
	left: 15px;
	font-size: small;
	color: #0d4920;
	background-color:#fff;
	padding:0 5px 0 5px;
}
